@font-face {
  font-family: Sansation-Regular;
  src: url("../fonts/Sansation-Regular.ttf"); }

@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.otf"); }

@font-face {
  font-family: MyriadHebrew-Regular;
  src: url("../fonts/MyriadHebrew-Regular.otf"); }

.socials__link:focus, .socials__link:hover, .slider__btn:hover, .slider__btn:focus, .list__btn:focus, .list__btn:hover, .feedback__data:focus, .feedback__data:hover {
  -webkit-box-shadow: 0 0 2px 1px white;
  box-shadow: 0 0 2px 1px white; }

* {
  outline: none; }

body, input, button {
  font-family: Sansation-Regular, MyriadPro-Regular, MyriadHebrew-Regular, serif; }

body {
  min-width: 882px;
  margin: 0;
  color: white; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

.header {
  background-image: url(../images/HeaderImage.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .header__overground {
    background-color: rgba(0, 0, 0, 0.5); }

.logo {
  float: left;
  padding-left: 20px; }
  .logo__name {
    font-size: 24px; }
    .logo__name--color {
      color: red; }

.nav {
  width: 100%;
  min-width: 850px;
  padding: 20px 0px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1; }
  .nav__anchor {
    margin: 0 4px;
    text-decoration: none;
    font-size: 24px; }
  .nav__anchor:link, .nav__anchor:visited {
    color: white; }
  .nav__anchor:hover {
    color: #0097a5; }
  .nav__anchor:active {
    color: #015c64; }

.nav :nth-child(n) {
  display: inline-block; }

.socials {
  float: right;
  padding-right: 20px; }
  .socials__link {
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px; }
    .socials__link--twitter {
      background-image: url("../images/twitter.png"); }
    .socials__link--facebook {
      background-image: url("../images/facebook.png"); }
    .socials__link--google-plus {
      background-image: url("../images/google+.png"); }
    .socials__link--dribbble {
      background-image: url("../images/dribbble.png"); }
    .socials__link--behance {
      background-image: url("../images/behance-icon.png"); }
    .socials__link--instagram {
      background-image: url("../images/social-3@1X.png"); }
    .socials__link--color {
      background-color: #272727;
      border-color: #272727; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  height: 628px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px; }
  .slider__btn:active {
    background-color: rgba(255, 255, 255, 0.6); }
  .slider__btn {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 18px; }
    .slider__btn--size-s {
      width: 28px;
      height: 32px;
      -ms-flex-item-align: center;
      align-self: center;
      background-image: url("../images/right_arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transform: scale(1, -1);
      transform: scale(1, -1); }
    .slider__btn--mirror-arrow {
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1); }
    .slider__btn--size-b {
      height: 38px; }
  .slider__text {
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    padding: 0 20px; }
  .slider__title {
    font-size: 70px; }
  .slider__subtitle {
    margin: 0;
    padding-bottom: 20px;
    font-size: 14px; }

.slider-bottom {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 112px 1fr; }
  .slider-bottom__inner {
    display: grid; }
  .slider-bottom__border {
    border-bottom: solid 0.5px; }
    .slider-bottom__border--left {
      border-left: 0.5px solid;
      border-color: rgba(255, 255, 255, 0.5);
      margin-right: 20px; }
    .slider-bottom__border--right {
      border-right: 0.5px solid;
      border-color: rgba(255, 255, 255, 0.5);
      margin-left: 20px; }

.preview {
  color: black;
  background-color: white; }
  .preview__img {
    display: inline-block;
    width: 49%;
    vertical-align: top; }
  .preview__text {
    display: inline-block;
    width: 50%;
    vertical-align: top; }

.about-us {
  padding: 50px 20px 0 40px; }
  .about-us__btn {
    width: 180px;
    height: 24px;
    background-color: #0097a5;
    border: 0;
    border-radius: 2px;
    font-size: 14px;
    color: #f7f7f7; }
    .about-us__btn:focus, .about-us__btn:hover {
      -webkit-box-shadow: 0 0 2px 1px #005f68;
      box-shadow: 0 0 2px 1px #005f68; }
    .about-us__btn:active {
      background-color: #005f68; }
  .about-us__title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 34px; }
  .about-us__paragraph {
    margin-top: 30px;
    font-size: 14px; }
    .about-us__paragraph--margin {
      margin-top: 20px; }

.section-title {
  text-align: center;
  padding: 0 20px 0 20px;
  background-color: #373737;
  font-size: 30px;
  color: #f7f7f7; }

.section-title :nth-child(n) {
  display: inline-block; }

.line {
  margin: 0;
  border: 0;
  border-bottom: 1px solid; }

.line::before {
  display: block;
  background-color: black;
  width: 20%;
  height: 2px;
  content: ""; }

.section-title__line, .section-title__text {
  width: 32%; }

.section-title__line--color::before {
  background-color: #f7f7f7; }

.section-title__line--position::before {
  margin-left: 80%; }

.section-title--color {
  background-color: #f7f7f7;
  color: black; }

.workflow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 556px; }
  .workflow__container {
    background-color: #3d3d3d;
    text-align: center;
    padding-top: 140px;
    color: #f7f7f7; }
  .workflow__container:hover {
    background-color: #0097a5;
    -webkit-transition: 100ms;
    transition: 100ms; }
  .workflow__title {
    font-size: 24px; }
  .workflow__info {
    margin: 50px 14px 0 14px; }
  .workflow__text {
    margin: 20px 0 30px 0;
    font-size: 14px; }
  .workflow__btn {
    border: 0;
    width: 140px;
    height: 28px;
    border-radius: 2px;
    font-size: 14px;
    background: #959595;
    color: #f7f7f7; }
    .workflow__btn:hover, .workflow__btn:focus {
      -webkit-box-shadow: 0 0 2px 1px #838181;
      box-shadow: 0 0 2px 1px #838181; }
    .workflow__btn:active {
      background-color: #838181; }

.workflow-arrow {
  position: absolute;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  height: 32px;
  text-align: right; }
  .workflow-arrow__btn {
    width: 32px;
    height: 32px;
    background: #05808b;
    border: 0;
    background-image: url("../images/left arrow copy@1X.png");
    background-repeat: no-repeat;
    background-position: center; }
    .workflow-arrow__btn--mirror-arrow {
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1); }
    .workflow-arrow__btn:focus, .workflow-arrow__btn:hover {
      -webkit-box-shadow: 0 0 2px 1px #005f68;
      box-shadow: 0 0 2px 1px #005f68; }
    .workflow-arrow__btn:active {
      background-color: #005f68; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 20px 34px 62px;
  background-color: #3d3d3d; }
  .list__item {
    display: inline-block;
    position: relative;
    width: 205px;
    height: 226px; }
    .list__item--position {
      width: 222px;
      text-align: center;
      vertical-align: top; }
  .list__line {
    width: 62px;
    margin-top: 18px;
    margin-bottom: 40px; }
  .list__control-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .list__btn {
    width: 25px;
    height: 25px;
    border: 0;
    background: transparent;
    background-image: url("../images/right_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1); }
    .list__btn--left {
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1); }
  .list__text {
    font-size: 18px;
    color: #f7f7f7; }

.list-item__avatar {
  width: inherit;
  height: inherit; }

.list-item__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .list-item__text--hidden {
    visibility: hidden; }
  .list-item__text--font {
    font-size: 10px; }

.list-item__container {
  position: absolute;
  margin: 180px 0 0 7px;
  width: 198px;
  height: 32px;
  overflow: hidden;
  border-spacing: 5px 0;
  color: black; }

.list-item__serial-number {
  height: 100%;
  width: 42px;
  background-color: white;
  text-align: center; }

.list-item__name {
  height: 100%;
  background-color: white;
  width: 132px;
  padding-left: 4px;
  max-width: 132px; }

.list-item:hover .list-item__text--hidden {
  visibility: visible;
  -webkit-transition: 100ms;
  transition: 100ms; }

.clients {
  background-color: #ececec;
  padding: 20px 0; }
  .clients__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    min-height: 150px; }
  .clients__logo {
    padding: 5px; }

.feedback {
  background-color: #0097a5;
  color: white;
  padding: 20px 40px;
  overflow: hidden; }
  .feedback__title {
    font-size: 34px; }
  .feedback__text {
    font-size: 14px; }
  .feedback__form {
    display: inline-block; }
  .feedback__form--position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    height: 45px; }
  .feedback__data {
    width: 204px;
    padding-left: 8px;
    color: white;
    font-size: 14px;
    background-color: #0097a5;
    border: 1px solid white;
    border-right: 0; }
    .feedback__data::-moz-placeholder {
      color: white; }
    .feedback__data::-webkit-input-placeholder {
      color: white; }
  .feedback__btn {
    height: inherit;
    background-color: white;
    border: 0;
    color: #0097a5;
    font-size: 14px; }

.footer {
  background-color: #3d3d3d;
  padding: 30px 54px 40px 40px; }

.footer-list {
  display: inline-block;
  margin-right: 30px;
  color: #f7f7f7;
  font-size: 14px; }
  .footer-list__title {
    margin-bottom: 4px; }
  .footer-list__anchor {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #f7f7f7; }
  .footer-list__line {
    width: 30px;
    margin: 0;
    text-align: left; }

.footer-subscribe {
  float: right; }
  .footer-subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 44px; }
  .footer-subscribe__data {
    border: 1px solid #959595;
    border-right: 0;
    background-color: #959595;
    padding-left: 8px; }
  .footer-subscribe__btn {
    border: 1px solid #959595;
    background-color: #2323dd;
    color: #f7f7f7; }
  .footer-subscribe__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px; }
