@font-face {
  font-family: Sansation-Regular;
  src: url("../fonts/Sansation-Regular.ttf");
  }
  
@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.otf");
}
  
@font-face {
  font-family: MyriadHebrew-Regular;
  src: url("../fonts/MyriadHebrew-Regular.otf");
}

%box-shadow-white {
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 1);
}

$primary-color: rgba(247, 247, 247, 1);
$font-size-text: 14px;



* {
  outline: none;
}

body, input, button {
  font-family: Sansation-Regular, MyriadPro-Regular, MyriadHebrew-Regular, serif;
}

body {
  min-width: 882px;
  margin: 0;
  color: rgba(255, 255, 255, 1)
}

input:focus::-webkit-input-placeholder {
  color:transparent;
}
  
input:focus:-moz-placeholder {
  color:transparent;
} /* FF 4-18 */

input:focus::-moz-placeholder {
  color:transparent;
} /* FF 19+ */
  
input:focus:-ms-input-placeholder {
  color:transparent;
} 

.header {
  background-image: url(../images/HeaderImage.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__overground {
    background-color: rgba(0, 0, 0, .5);
  }
}


.logo {
  float: left;
  padding-left: 20px;


  &__name {
    font-size: 24px;

    &--color {
      color: red;
    }
  }
}

.nav {
  width: 100%;
  min-width: 850px;
  padding: 20px 0px;
  border-bottom: 0.5px solid rgba(255, 255, 255, .5);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  z-index: 1;
  
  &__anchor {
    margin: 0 4px;
    text-decoration: none;
    font-size: 24px;
  }
  
  &__anchor:link,
  &__anchor:visited {
    color: rgba(255, 255, 255, 1);
  }
  
  &__anchor:hover {
    color: rgba(0, 151, 165, 1);
  }
  
  &__anchor:active {
    color: rgba(1, 92, 100, 1);
  }
} 

.nav :nth-child(n) {
    display:inline-block;
}
  
.socials {
  float: right;
  padding-right: 20px;
  
  &__link{
    border: 0.5px solid rgba(255, 255, 255, .5);
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2px;

    &:focus,
    &:hover {
      @extend %box-shadow-white;
    }

    &--twitter {
      background-image: url("../images/twitter.png");
    }

    &--facebook {
      background-image: url("../images/facebook.png");
    }

    &--google-plus {
      background-image: url("../images/google+.png");
    }

    &--dribbble {
      background-image: url("../images/dribbble.png");
    }

    &--behance {
      background-image: url("../images/behance-icon.png");
    }

    &--instagram {
      background-image: url("../images/social-3@1X.png");
    }

    &--color {
      background-color: rgba(39, 39, 39, 1);
      border-color: rgba(39, 39, 39, 1);
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 628px;
  align-items: center;
  padding: 0 20px;

  &__btn:active {
    background-color: rgba(255, 255, 255, .6);
  }
  
  &__btn {
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;

    &--size-s {
      width: 28px;
      height: 32px;
      align-self: center;
      background-image: url("../images/right_arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(1, -1);
    }
        
    &--mirror-arrow {
      transform: scale(-1, -1);
    }
    
    &--size-b {
      height: 38px;
    }

    &:hover,
    &:focus {
      @extend %box-shadow-white;
    }
  }  

  &__text {
    color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(255, 255, 255, .5);
    border-bottom: none; 
    padding: 0 20px;
  }

  &__title {
    font-size: 70px;
  }

  &__subtitle {
    margin: 0;
    padding-bottom: 20px;
    font-size: $font-size-text;
  }
  
}  

.slider-bottom {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 112px 1fr;

  
  &__inner {
    display: grid;
  }
  
  &__border {
    border-bottom: solid 0.5px;
 
    &--left {
      border-left: 0.5px solid;
      border-color: rgba(255, 255, 255, .5);
      margin-right: 20px;
    } 
    &--right {
      border-right: 0.5px solid;
      border-color: rgba(255, 255, 255, .5);
      margin-left: 20px;
    }
  }  
}
  
.preview {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);


  &__img {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  
  &__text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
  
.about-us {
  padding: 50px 20px 0 40px;

 
  &__btn {
    width: 180px;
    height: 24px;
    background-color: rgba(0, 151, 165, 1);
    border: 0;
    border-radius: 2px;
    font-size: $font-size-text;
    color: rgba(247, 247, 247, 255);

    &:focus,
    &:hover {
      box-shadow: 0 0 2px 1px rgb(0, 95, 104);
    }

    &:active {
        background-color: rgb(0, 95, 104);
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 34px;
  }
 
  &__paragraph {
    margin-top: 30px;
    font-size: $font-size-text;

    &--margin {
      margin-top: 20px;
    }
  }
}

.section-title {
  text-align: center;
  padding: 0 20px 0 20px;
  background-color: rgba(55, 55, 55, 1);
  font-size: 30px;
  color: $primary-color;
}
  
.section-title :nth-child(n) {
  display: inline-block;
}
  
.line {
  margin: 0;
  border: 0;
  border-bottom: 1px solid;
}
  
    
.line::before {
  display: block;
  background-color: black;
  width: 20%;
  height: 2px;
  content: ""; 
}

.section-title__line, .section-title__text {
  width: 32%;
}

.section-title__line--color::before {
  background-color: $primary-color;
}
  
.section-title__line--position::before {
  margin-left: 80%;
}

    
.section-title--color {
  background-color: $primary-color;
  color: rgba(0, 0, 0, 1);
}
   
.workflow {
  position: relative;
  display: flex;
  height: 556px;

  
  &__container {
    background-color: rgba(61, 61, 61, 1);
    text-align: center;
    padding-top: 140px;
    color: $primary-color;
  }
  
  &__container:hover {
    background-color: rgba(0, 151, 165, 1);
    transition: 100ms;
  }
  
  &__title {
    font-size: 24px;
  }
  
  &__info {
    margin: 50px 14px 0 14px;
  }
  
  &__text {
    margin: 20px 0 30px 0;
    font-size: $font-size-text;
  }
  
  &__btn {
    border: 0;
    width: 140px;
    height: 28px;
    border-radius: 2px;
    font-size: 14px;
    background: rgba(149, 149, 149, 1);
    color: $primary-color;
    
    &:hover,
    &:focus {
      box-shadow: 0 0 2px 1px rgb(131, 129, 129);
    }

    &:active{
      background-color: rgb(131, 129, 129);
    }
  }
}  

.workflow-arrow {
  position: absolute;
  align-self: flex-end;
  width: 100%;
  height: 32px;
  text-align: right;

  
  &__btn {
    width: 32px;
    height: 32px;
    background: rgba(5, 128, 139, 1);
    border: 0;
    background-image: url("../images/left arrow copy@1X.png");
    background-repeat: no-repeat;
    background-position: center;

    &--mirror-arrow {
      transform: scale(-1, -1);
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 2px 1px rgb(0, 95, 104);
    }

    &:active {
        background-color: rgb(0, 95, 104);
    }
  }
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 34px 62px;
  background-color: rgba(61, 61, 61, 1);


  &__item {
    display: inline-block;
    position: relative;
    width: 205px;
    height: 226px;

    &--position {
      width: 222px;
      text-align: center;
      vertical-align: top;
    }  
  } 

  &__line {
    width: 62px;
    margin-top: 18px;
    margin-bottom: 40px;
  }

  &__control-container {
    display: flex;
    justify-content: space-between;
  }
  
  &__btn {
    width: 25px;
    height: 25px;
    border: 0;
    background: transparent;
    background-image: url("../images/right_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1, -1);

    &--left {
      transform: scale(-1, -1);
    }

    &:focus,
    &:hover {
      @extend %box-shadow-white;
    }
  }

  &__text {
    font-size: 18px;
    color: $primary-color;
  }
}

.list-item {

  &__avatar {
    width: inherit;
    height: inherit;
  }

  &__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  

    &--hidden {
      visibility: hidden;
    }
  
    &--font {
      font-size: 10px;
    }
  }
  
  &__container {
    position: absolute;
    margin: 180px 0 0 7px;
    width: 198px;
    height: 32px;
    overflow: hidden;
    border-spacing: 5px 0;
    color: rgba(0, 0, 0, 1);
  }
  
  &__serial-number{
    height: 100%;
    width: 42px;
    background-color: white;
    text-align: center;
  }
  
  &__name {
    height: 100%;
    background-color: white;
    width: 132px;
    padding-left: 4px;
    max-width: 132px;
  }

}
  
.list-item:hover .list-item__text--hidden {
  visibility: visible;
  transition: 100ms;
}
.clients {
  background-color: #ececec;
  padding: 20px 0;
  
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    min-height: 150px;
  }
  
  &__logo {
    padding: 5px;
  }
}    

.feedback {
  background-color: rgba(0, 151, 165, 1);
  color: rgba(255, 255, 255, 1);
  padding: 20px 40px;
  overflow: hidden;

  
  &__title {
    font-size: 34px;
  }
  
  &__text {
    font-size: $font-size-text;
  }
  
  &__form {
    display: inline-block;
  }

  &__form--position {
    display: flex;
    float: right;
    height: 45px;
  }
  
  &__data {
    width: 204px;
    padding-left: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    background-color: rgba(0, 151, 165, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-right: 0;

      &:focus,
      &:focus,
      &:hover,
      &:hover {
        @extend %box-shadow-white;
      }
  
      &::-moz-placeholder {
        color: rgba(255, 255, 255, 1);
      }

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 1);
      }
  }

  &__btn {
    height: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    color: rgba(0, 151, 165, 1);
    font-size: 14px;
  }
}
  
.footer {
  background-color: rgba(61, 61, 61, 1);
  padding: 30px 54px 40px 40px;
}
  
.footer-list {
  display: inline-block;
  margin-right: 30px;
  color: $primary-color;
  font-size: $font-size-text;

  
  &__title {
    margin-bottom: 4px;
  }
  
  &__anchor {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: $primary-color;
  }


  &__line {
    width: 30px;
    margin: 0;
    text-align: left;
  }
}

.footer-subscribe {
  float: right;

  &__form {
    display: flex;
    height: 44px;
  }
  
  &__data {
    border: 1px solid rgba(149, 149, 149, 1);
    border-right: 0;
    background-color: rgba(149, 149, 149, 1);
    padding-left: 8px;
  }
  
  &__btn {
    border: 1px solid rgba(149, 149, 149, 1);
    background-color: rgba(35, 35, 221, 1);
    color: $primary-color;
  }
  
  &__link {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}  



